@import "../../common_style/variables";
@import "../../common_style/mixins";

.user{
  $user-width: 80%;
  $tool-icon-size: 25px;
  padding: 25px $padding-base-horizontal;
  width: $user-width;
  margin:0 auto;
  position: relative;

  .user-head {
    margin-top: 10px;
    @include flex(space-between);
    .avatar {
      margin-bottom: 20px;
    }
    .nickname {
      font-size: $font-size-large;
    }
  }
  .user-info{
    margin-top: 10px;
    @include flex(space-between);
    width: 65%;
    .user-account-info{
      @include flex(center, center, column);

    }
    .info-item{
      width: 40%;
      margin: 10px;
    }
    .user-info-follow{
      @include flex(space-between);
    }
  }
  .gift-btn{
    position: fixed;
    right: 20px;
    z-index:2000;
    bottom: $nav-height + 20px;

  }
  .tools{
    margin-top: 0;
    padding-top: 10px;
    border-top: 1px solid $split-line-color;
    flex-wrap: wrap;
    @include flex(flex-start);
    .tool-icon{
      width:33.33%;
      margin: 20px 0;
      @include flex(center,center,column);
      .label{
        margin-top: 10px;
        font-size: 11px;
        color: $text-color-light;
      }
    }
  }
}
.avator-retail{
  position: absolute;
  right: -28px;
  top: 55px;
  cursor: pointer;
  .button.middle{
    float: right;
    padding: 0 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
  }

}

.avator-retail:before{
  height : 100px;
  width  : 70px;
}


.ranking-item{
  margin: 20px 0;
  @include flex(space-between,center);
  .left{
    @include flex(flex-start,center);
  }
  .rank{
    margin-right: 10px;
  }
  .name{
    margin-left: 20px;
    font-size: $font-size-small;
  }
  .right{
    @include flex(flex-start,flex-end);
  }
  .num{
    font-weight: bold;
    font-size: $font-size-small;
  }
  .type{
    color: $brand-color;
    font-size: $font-size-tiny;
  }
}