@import "../../common_style/variables";
@import "../../common_style/mixins";

.task-container{
    
    position: relative;
    overflow: hidden;
    @include rounded-corner(8px);
    @include box-shadow(2px 4px 40px rgba(108,125,135,0.2));
    margin: 10px;
    .tag-list{
        @include flex(space-between);
        height: 50px;
    }
    .task-location{
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        height: 50px;
        box-shadow: 2px 4px 40px rgba(108, 125, 135, 0.2);
        -webkit-box-shadow: 2px 4px 40px rgba(108, 125, 135, 0.2);
        margin: 10px;

    }
}

.map{
    margin: 10px;
}

.introduction {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 120px;
    box-shadow: 2px 4px 40px rgba(108, 125, 135, 0.2);
    margin: 10px;
}